<ion-header-bar class="bar-positive">
  <h2 class="title">More Info</h2>
</ion-header-bar>

<ion-view view-title= "{{charity.ngoName}}">

  <ion-content>
  
    <ion-list class="list-inset">
      <!-- <ion-item class="item-text-wrap border item-thumbnail"
        ng-repeat="item in ngo | filter: {ngoName: whichngo}">
          <h1><pre>    <img ng-src="img/{{item.ngoName}}.jpg"
            alt="{{ item.ngoName }} Photo"></pre></h1><h1><pre>    <b>{{item.ngoName}}</b></pre></h1>

           <ion-item ng-repeat="item in item.contact" class="border">
             <h2><pre>  POC Name      :    <u>{{item.pocFirstName}} {{item.pocLastName}}</u></pre></h2>
             <h2><pre>  Address       :    <u>{{item.addressLine1}}, {{item.addressLine2}}</u>
              <h2><pre>                     <u>{{item.city}}-{{item.pincode}}, {{item.state}}, {{item.country}}</u></pre></h2>
              </pre></h2>
           </ion-item>
            <h2><pre>    Details       :   <u>{{item.detail}}</u></pre></h2>
           <ion-item ng-repeat="item in item.charityEvent" class="border"> 
             <h2><pre>  Cause         :    <u>{{item.cause}}</u></pre></h2>
             <ion-item ng-repeat="item in item.requirement" class="border">
             <h2><pre> Requirements  :    {{item.category}} : {{item.product}} - {{item.quantity}}</pre></h2>
           </ion-item>
      </ion-item>
      </ion-item> -->



<!-- <ion-item class="item-text-wrap border item-thumbnail"
        ng-repeat="item in charity"> -->

       
          <h1><pre>    <img ng-src="img/{{charity.ngoName}}.jpg"
            alt="{{ charity.ngoName }} Photo"></pre></h1><h1><pre>    <b>{{charity.ngoName}}</b></pre></h1>

           <ion-item ng-repeat="item in charity.contact" class="border">
             <pre>  POC Name      :    <u>{{item.pocFirstName}} {{item.pocLastName}}</u></pre>
             <pre>  Address       :    <u>{{item.addressLine1}}, {{item.addressLine2}}</u>
            <pre>                     <u>{{item.city}}-{{item.pincode}}, {{item.state}}, {{item.country}}</u></pre>
              </pre>
           </ion-item>
            <pre>    Details       :   <u>{{charity.detail}}</u></pre>
           <ion-item ng-repeat="item in charity.charityEvent" class="border"> 
             <pre>  Cause         :    <u>{{item.cause}}</u></pre>
             <ion-item ng-repeat="item in item.requirement" class="border">
             <pre> Requirements  :    {{item.category}} : {{item.product}} - {{item.quantity}}</pre>
           </ion-item>
        
      </ion-item>
      <!-- </ion-item> -->



    </ion-list>

  </ion-content>
</ion-view>