<ion-header-bar class="bar-positive">
  <h2 class="title">More Info</h2>
</ion-header-bar>

<ion-view view-title= "{{charity.ngoName}}">

  <ion-content>
<div ng-controller="DetailNgoController">
    <ion-list class="list-inset">

          <h1><pre>    <img ng-src="img/{{charity.ngoName}}.jpg"
            alt="{{ charity.ngoName }} Photo"></pre></h1><h1><pre>    <b>{{charity.ngoName}}</b></pre></h1>

           <ion-item ng-repeat="item in charity.contact" class="border">
             <p>  POC Name      :    <u>{{item.pocFirstName}} {{item.pocLastName}}</u></p>
             <p>  Phone No.     :    <u>{{item.phoneNo}}</u></p>
             <p>  Email Id      :    <u>{{item.email}}</u></p>
             <p>  Address       :    <u>{{item.addressLine1}}, {{item.addressLine2}}</u><br/>
            <span>                     <u>{{item.city}}-{{item.pincode}}, {{item.state}}, {{item.country}}</u></span>
              </p>
           </ion-item>
            <p>    Details       :   <u>{{charity.detail}}</u></p>
           <ion-item ng-repeat="item in charity.charityEvent" class="border">
             <p>  Cause         :    <u>{{item.cause}}</u></p>
             <ion-item ng-repeat="item in item.requirement" class="border">
              <div ng-if="item.status">
             <p> Requirements  :    {{item.category}} : {{item.product}} - {{item.quantity}}</p>
             </div>
           </ion-item>

      </ion-item>




    </ion-list>
</div>
  </ion-content>
</ion-view>
