<ion-view hide-nav-bar="true" view-title= "Welcome">
<ion-header-bar class="bar-header bar-calm">
        <div class="title uppercase">Welcome</div>
 </ion-header-bar>
  <ion-content class="splash padding">
    <div class="branding" id="map" style="width: 500px;height: 500px;">
      <div class="tagline"></div>
        <button class="button button-calm" button-large ng-click="setUserType('C')">  Provide Help</button>
         <br>
       <button class="button button-calm" button-large ng-click="setUserType('N')">  Seek Help</button>
      </div>
    </ion-content>
</ion-view>