<ion-view hide-nav-bar="true">
  <ion-content class="splash padding">
    <div class="branding">
      <div class="tagline"></div>
       <a href="#/list" ng-controller="ListController"><button class="button" button-large>  Provide Help</button></a>
       <br>
       <a href="#/seek" ng-controller="putserviceCtrl"><button class="button" button-large>  Seek Help</button></a>
       <a class="google-sign-in button button-block" ng-click="googleSignIn()"> <img ng-src="img/google.jpg"></img></a>
      </div>
      
       <a class="google-sign-in button button-block" ng-click="googleSignIn()"> <img ng-src="img/google.jpg"></img></a>
  </ion-content>
</ion-view>