<ion-view view-title="NGO">
<ion-header-bar class="bar-header bar-calm">
        <div class="title uppercase">Welcome</div>
  </ion-header-bar>
<ion-content 
  class="has-subheader">
 
  <ion-refresher on-refresh="doRefresh()">
  </ion-refresher>
    
    <div id="txtAddress">          
      <label class="item item-input">
         <input ng-model="address" type="text" placeholder="Enter Location">
      </label>         
      <button class="button button-calm" ng-click="GetLocation(address)">Search</button>
    
    </div> 



  <ion-list>
    <div>
      <ion-item ng-repeat="item in ngo | filter : query"
        class="item item-stable item-thumbnail-left icon item-accordion-container"
        ng-click="item.shown = !item.shown"
        ng-class="{'active': item.shown}"
        ng-init="item.shown = false;">
          <img ng-src="img/{{item.ngoName}}.jpg"
            alt="{{ item.ngoName }} Photo"></img>
          <h1>{{item.ngoName}}</h1>
          <ion-item class="item-accordion"
              ng-repeat="subItem in item.charityEvent" href="#/list/{{item.ngoId}}">
              {{subItem.cause}}
              <ion-item ng-repeat="itemDetail in subItem.requirement">
              <div ng-if="itemDetail.status">
              <h3>{{itemDetail.category}} : {{itemDetail.product}} - {{itemDetail.quantity}}</h3>
              </div>
            </ion-item>
          </ion-item>
      </ion-item>
      </div>
   </ion-list>
  
</ion-content>

</ion-view>