
<ion-view view-title="Raise a Request">
<ion-content class="padding" >
<div ng-controller="putserviceCtrl">
    <form role='form' name='form.signInForm' novalidate>
   <label class="item item-input">
          <span class="input-label">Cause</span>
          <input type="text" placeholder="Cause" ng-model="frm.cause">
        </label>

       
        <label class="item item-input">
          <span class="input-label">Category</span>
          <input type="text" placeholder="category" ng-model="frm.category" ng-required="required">
        </label>
 
        <label class="item item-input">
          <span class="input-label">Product</span>
          <input type="text" placeholder="product" ng-model="frm.product" ng-required="required">
        </label>

         <label class="item item-input">
          <span class="input-label">Quantity</span>
          <input type="text" placeholder="quantity" ng-model="frm.quantity" ng-required="required">
        </label>
        <p>{{errortext}}</p>
        <input type="submit" value="Submit" id="btnsubmit" ng-click="putdata(frm)" ng-disabled="signInForm.$invalid" /> <br/><br/>
        <input type="button" ng-click="reset()" value="Reset form">

        
</div>
</form>


</ion-content> 
</ion-view>