
<ion-view view-title="SEEK HELP">
<ion-content class="padding" >
    <div class="branding">
      
       <a href="#/raiseRequest"><button class="button" button-large>  Raise Request</button></a>
       <br>
       <br>
       <a href="#/updateRequest"><button class="button" button-large>  Update Request</button></a>
      </div>
      <p>Jnjkjkjhkjhkljjk</p>
        <!-- <a class="google-sign-in button button-block" ng-click="googleSignIn()"> <img ng-src="img/google.jpg"></img></a> -->
  </ion-content>
</ion-view>