
<ion-view view-title="Sign In">
<ion-content class="padding" >
<div ng-controller="WelcomeCtrl">

 <form name="myForm" novalidate>
   <label class="item item-input">
<span class="input-label">EmailId</span>
      <input type="email" name="email" placeholder="emailId" ng-model="emailId"  ng-required="required">
   </label>


   <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password" name="password" placeholder="Password" ng-model="password" ng-required="required">
   </label>
 <div class="padding">
            <p ng-show="myForm.email.$error.required">* Username is required</p>
            <p ng-show="myForm.email.$invalid && !myForm.username.$pristine">* Username must be an email address</p>
            <p ng-show="myForm.email.$error.minlength">* Username must be longer than 5 characters</p>
            <p ng-show="myForm.password.$error.required">* Password is required</p>
            <p ng-show="myForm.password.$error.minlength">* Password must be longer than 6 characters</p>
        </div>


   <p class="error-msg">{{errortext}}</p>

   <input type="button" value="Send" ng-disabled="myForm.$invalid" ng-click="Signin(emailId, password)"/> <br/><br/>
   </div>
 </form>


</ion-content>
</ion-view>
