<ion-view view-title= "Update Event Requirement">

 <ion-content class="padding" ng-controller="GetController">

      <div class="ion-item"  ng-repeat='item in event' >
     
     <h1>{{item.cause}}</h1>
     

          <div class="ion-item" ng-repeat="req in item.requirement">

          <div ng-init="itemchecked = !req.status">
            <h3>{{req.category}} : {{req.product}} - {{req.quantity}}</h3>
              <label class="checkbox">
                <input type="checkbox" ng-model="itemchecked" ng-change="Update(req.reqId)" ng-disabled="itemchecked" />
              </label>
             
          </div>

          </div>
    
        <a href="#" ng-controller="dashboardCtrl"> <button class="button" button-large ng-click="logout()">  Logout</button></a>
     </div>
<!--  <input type="button" value="Send" ng-click="Update(itemchecked)" /> -->
     
      </ion-content>

</ion-view>